.banner-info {
    margin: 50px 0;
    position: relative;
    &-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        text-align: center;
        width: 100%;
    }
    &-title {
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    &-text {
        font-size: 26px;
        margin-bottom: 40px;
    }
    &-btn {
        background-color: $green-color;
        color: #fff;
    }
}