.form {
    text-align: center;
    margin: 50px;
    &-caption {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    &-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-input {
        font-size: 14px;
        padding: 8px 10px;
        min-width: 400px;
        margin-bottom: 15px;
    }
    &-btn {
        display: inline-block;
        background-color: $green-color;
        color: #fff;
        border-radius: 3px;
        margin-bottom: 15px;
        padding: 12px 30px;
    }
    &-title {
        font-size: 14px;
    }
    &-sign {
        color: $green-color;
        text-decoration: underline;
    }
}