.header {
    margin-bottom: 65px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 8px 0 #ccc;
    z-index: 100;
    &-main {
        height: $height-header;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo {
        height: 29px;
    }
    &-function {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 15px;
        font-size: 24px;
        color: $darker-color;
    }
    &-function a {
        color: #000;
        position: relative;
        min-width: 27px;
        &:hover .header-desc {
            display: block;
        }
    }
    &-desc {
        display: none;
        position: absolute;
        min-width: 80px;
        height: 30px;
        background: $gray-color;
        border-radius: 5px;
        font-size: 13px;
        text-align: center;
        line-height: 30px;
        color: #fff;
        padding: 0 5px;
        left: -50%;
        transform: translate(calc(-25% + 5px));
        &::before {
            position: absolute;
            content: "";
            border: 10px solid;
            border-color: transparent transparent $gray-color transparent;
            top: calc(-50% - 1px);
            left: 50%;
            transform: translateX(-50%);
            z-index: -10;
        }
    }
}