$primary-font: 'Inter',
sans-serif;
$secondary-font: 'Playfair Display',
sans-serif;
$third-font: 'Mulish',
sans-serif;
$gray: #B8BECD;
$gray-darker: #7D7987;
$gray-dark: #AFB0B9;
$gray-darkest: #000;
$primary: #FB8F1D;
$gray-blur: #80918E;
$gray-lighter:#F9F9FB;
;