:root {
    --white-color: #fff;
    --violet-color: #ba71da;
}

.grid {
    margin: 0 auto;
}

.grid-column {
    padding: 0 100px;
}

.btn {
    cursor: pointer;
    min-width: 90px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 38px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 6px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(white-color);
}