/* Header */

.header {
    background-image: linear-gradient( rgba(121, 121, 121, 0.13), rgba(110, 105, 105, 0.5));
    padding: 30px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-img {
    height: 38px;
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list-item {}

.navbar__list-link {
    padding: 25px 15px;
    font-size: 14px;
    color: var(--white-color);
}

.btn__header {}

.header__icon {}